.itemMenu{
    display: inline;
}

/* To <li> vindo imediatamente depois de um </li> */
.itemMenu + .itemMenu{
    margin-left: 15px;
}


.cabecalho{
    text-align: center;
}

.cabecalho-sacola{
    margin: 10px auto;
}

.cabecalho-logo{
    max-width: 100%;
}

@media (min-width: 801px){

    .cabecalho{
        display: flex;
        justify-content: space-between;
    }
    .cabecalhoMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cabecalho-sacola{
        margin:0;
    }

}

