/* .conteudoPrincipal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */


.conteudoPrincipal-destaque{
    width: 100%;
}

.conteudoPrincipal-departamentos{
    margin-top: 10px;
    margin-bottom: 10px;
}


@media (max-width: 759px){

    .sidebar{
        text-align: center;
    }

    
}

@media (min-width: 760px){
        
    .conteudoPrincipal{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: max-content max-content min-content; */
        grid-template-areas: "busca imgd  imgd  imgd"
                            "menud imgd  imgd  imgd"
                            ".     imgd  imgd  imgd"
                            "vit1 vit1 vit2 vit2";
        gap: 10px;
    }

    .conteudoPrincipal-busca{
        grid-area: busca;
    }

    .conteudoPrincipal-departamentos{
        grid-area: menud;
    }

    .conteudoPrincipal-destaque{
        grid-area: imgd;
        width: 100%;
    }

    .conteudoPrincipal-vitrine1{
        grid-area: vit1;
    }

    .conteudoPrincipal-vitrine2{
        grid-area: vit2;
    }

}

@media (min-width: 524px) and (max-width: 760px){
    .conteudoPrincipal-departamentos-menu{
        column-count: 2;
    }
}