.footerPrincipal{
    margin-top: 30px;
    padding: 20px 0;

    background-image: url("../img/fundo-rodape.png");
}

.social{
    float: right;
    /*margin: 12px; */
    display: flex;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.itemSocial{
    display: inline-block;
    margin-left: 20px;
}

.iconeSocialText[href *= "facebook"]{
    background-image: url("../img/facebook.png");
}

.iconeSocialText[href *= "twitter"]{
    background-image:  url("../img/twitter.png");
}

.iconeSocialText[href *= "plus.google"]{
    background-image: url("../img/googleplus.png");
}

.iconeSocialText{
    width: 32px;
    height: 32px;
    display: inline-block;

    overflow: hidden;
    text-indent: -999999px;
    white-space: nowrap;
}